---
import { info, infoContent } from './Info.css'

import PersonCard from '../PersonCard/PersonCard.astro'
import React from '../Icons/React.astro'
import Galaxy from './Galaxy.astro'
import SocialLinks from '../SocialLinks/SocialLinks.astro'
import Footer from '../Footer/Footer.astro'
---

<div class={info}>
    <Galaxy />
    <React />
    <div class={infoContent}>
        <PersonCard />
    </div>
    <Footer />
</div>
