---
import { card, avatar, cardHeading, cardSubheading } from './PersonCard.css'
---

<div class={card}>
    <img
        class={avatar}
        src='https://avatars.githubusercontent.com/u/24759563?v=4'
    />
    <div>
        <h2 class={cardHeading}>Mirko Basic</h2>
        <p class={cardSubheading}>Software Enthusiast</p>
    </div>
</div>
