---
import {
    logo,
    infoComponentLogoStyles,
    headerComponentLogoStyles
} from './Logo.css'

interface Props {
    component: 'info' | 'header'
}

const { component } = Astro.props
---

<p
    class:list=`${logo} ${component === 'info' && infoComponentLogoStyles} ${component === 'header' && headerComponentLogoStyles}`
>
    React Serbia
</p>
