---
import {
    logo,
    infoComponentLogoStyles,
    layoutComponentLogoStyles
} from './Logo.css'

interface Props {
    component: 'info' | 'layout'
}

const { component } = Astro.props
---

<h1
    class:list=`${logo} ${component === 'info' && infoComponentLogoStyles} ${component === 'layout' && layoutComponentLogoStyles}`
>
    React Serbia
</h1>
