<nav>
    <a href='/'>Home</a>
    <a href='/post'>Posts</a>
</nav>

<style>
    nav {
        display: inline-flex;
        gap: 2px;
        border-radius: 100px;
        overflow: hidden;
        margin: 0 auto;
    }

    a {
        line-height: 1;
        font-size: 1rem;
        padding: 0.25rem 1rem;
        background-color: white;
    }
</style>
