---
import { marked } from 'marked'
import Layout from '@/layouts/Layout.astro'
import { getBlogContent } from '@/services/octokit'
import { type Repository } from '@/models'
import { anchor } from './post.css'

interface Props {
    blog: Repository & { content: string }
    content: string
}

export async function getStaticPaths() {
    const blogContents = await getBlogContent()

    return blogContents.map(blog => ({
        params: { post: blog.name },
        props: {
            blog,
            content: marked.parse(blog.content)
        }
    }))
}

const { content } = Astro.props
---

<Layout title='Welcome to Astro.'>
    <div class='container' set:html={content}>
        <a class={anchor} href='/post'>Back</a>
    </div>
</Layout>

<style>
    .container {
        padding: 10rem 0;
    }
</style>
