---
import Layout from '@layouts/Layout.astro'
import { getBlogs } from '@services/octokit'

import BlogCard from '@components/BlogCard/BlogCard.astro'

const blogs = await getBlogs()
---

<Layout title='Posts'>
    <div class='container'>
        <h1>Blogs</h1>

        {blogs.map(blog => <BlogCard blog={blog} />)}
    </div>
</Layout>

<style>
    .container {
        padding: 10rem 0;
    }
</style>
