---
interface Props {
    href: string
}

const { href } = Astro.props
---

<a {href} target='_blank'>
    <slot />
</a>

<style>
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 100px;
        cursor: pointer;
    }
</style>
