---
import Logo from '../Logo/Logo.astro'

import { anchor } from './Header.css'
---

<header>
    <Logo component='header' />
    <nav>
        <a class={anchor} href='/'>Home</a>
        <a class={anchor} href='/post'>Posts</a>
    </nav>
</header>

<style>
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
    }

    nav {
        display: flex;
        gap: 1rem;
        padding: 1rem 0;
    }
</style>
